body {
  background-color: rgb(52, 32, 51);
  margin: 0;
  color: white;
  min-height: 200;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  background-color: gold;
  padding: 40px;
  border-radius: 10px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.form {
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 1rem;
  column-gap: 1rem;
  justify-content: center;
  align-items: center;
}
.title {
  margin: 20px;
  text-align: center;
  font-size: 60px;
}
label {
  font-weight: bold;
  font-size: 15px;
}
.character-amount-container {
  display: flex;
  align-items: flex;
}
.number-input {
  width: 3rem;
}

.password-display {
  background-color: rgb(52, 32, 51);
  color: white;
  padding: 10px;
  border: 1px solid white;
  height: 8rem;
  width: 600px;
  display: flex;
  justify-content: flex;
  align-items: center;
  word-break: break-all;
  border-radius: 2px;
}

button {
  grid-column: span 2;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  padding: 1rem 1rem;
  font-weight: bold;
  border-radius: 2rem;
  font-size: 18px;
}


